@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: kanit;
}

.container{
    background-image: url(Imagens/gradient-698244_1280.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
}

.imagem{
    width:90%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crianca{
    width: 90%;
    height: 100vh;
}

.containerForm{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
}

Form{
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    color: white;
}
input{
    background-color: transparent;
    border: 2px;
    border-bottom: 2px solid white;
    color: white;
    font-size: 16px;
    outline: none;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.radio {
    color: rgba(255, 255, 255, 0.685);
}

textarea{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12px;
    width: 350px;
    color: white;
    padding: 8px;
    resize: none;
}
textarea::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}


.box_button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.botao{
    font-size: 18px;
    border: 2px solid white;
    border-radius: 30px;
    height: 100%;
    width: 30%;
    color: white;
    cursor: pointer;
}

.botao:hover{
    height: 100%;
    width: 40%;
    font-size: 22px;
    transition: 1s;
}